{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}
{% block content %}
    <form action="" method="post">
        <div align="center">
            {% for field in form %}
            <div class="form-group">
                {{  field.label_tag  }}
                <div>{{field}}</div>
            </div>
            <div class="form-error">{{ field.errors }}</div>
            {% endfor %}
            <p><input type="submit" value="Create"></p>
            {% csrf_token %}
        </div>
    </form>
    <div align="center">
        <table border=1>
            <tr>
                <td><div align="center">Full URL</div></td>
                <td><div align="center">Short URL</div></td>
            </tr>
            <tr>
                {% for contact in page_obj %}
                <td><div align="center">{{ contact.url }}</div></td>
                <td>
                    <div align="center">
                    <a href="{{ request.scheme }}://{{ request.get_host }}/{{ contact.id }}">{{ request.scheme }}://{{ request.get_host }}/{{ contact.id }}</a>
                    </div>
                </td>
            </tr>
                {% endfor %}
        </table>
            <nav>
                {% for page in page_obj.paginator.page_range %}
                    <a href="?page={{ page }}">{{ page }}</a>
                 {% endfor %}
            </nav>
    </div>

{% endblock %}